{% extends 'base.html' %}
{% block main %}

<div class="header"> 
    <h1>Add New Property</h1>
</div>
{% include 'flash_messages.html' %}


<div class="complete-form">
    <form action="{{ url_for('create') }}" enctype="multipart/form-data" method = "POST">
        {{ form.csrf_token }}

        <div class="input-title">
            {{ form.title.label (class="label") }} 
            {{ form.title(class="form-control") }}
        </div>

        <div class="input-description">
            {{ form.description.label (class="label") }} 
            {{ form.description(class="form-control") }}
        </div>
        <div class="align">
        <div class="input-bedrooms">
            {{ form.bedrooms.label (class="label") }}      
            {{ form.bedrooms(class="form-control") }}
        </div>

        <div class="input-bathrooms">
            {{ form.bathrooms.label (class="label") }}             
            {{ form.bathrooms(class="form-control") }}
        </div>
        </div>

        <div class="align-two">
        <div class="input-price">
            {{ form.price.label (class="label")}} 
            {{ form.price(class="form-control") }}
        </div>

        <div class="input-proptype">
            {{ form.proptype.label (class="label") }} 
            {{ form.proptype(class="form-control") }}
        </div>
        </div>

        <div class="input-location">
            {{ form.location.label (class="label") }} 
            {{ form.location(class="form-control") }}
        </div>

        <div class="input-photo">
            {{ form.photo.label (class="label") }} 
            {{ form.photo(class="form-control") }}
        </div>

        <br>
        <button class="btn btn-primary" type="submit"> Add Property </button>
    </form>
</div>

{% endblock %}